<div class="row dept-title">
    <div class="col-md-6">
      <h2 class="dept-title-h2">Apollonia Dental Practice</h2>
    </div>
    <div class="col-md-6">
        <ul class="top-menu">
            
            <li  [class.active-menu] = "currentUrl === '/department/list'">
                <a routerLink="/department/list">Departments</a></li>
            <li [class.active-menu] = "currentUrl === '/department/add'"><a routerLink="/department/add">Add department</a></li>
            <li [class.active-menu] = "currentUrl === '/employee/list'"><a routerLink="/employee/list">Employees</a></li>
            <li [class.active-menu] = "currentUrl === '/employee/add'"><a routerLink="/employee/add">Add employee</a></li>
        </ul>
      </div>
  </div>
  <div class="loader" *ngIf="isLoading">
    <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
  </div>
<router-outlet>
</router-outlet>