/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

html, body{
    padding: 0px;
    background: #e4e4e4;
font-size: 14px;
}
.sec-heading{
    font-size: 20px;
    text-align: center;
    margin-top: 35px;
}